
/*======================= NextPrev ============================*/


.paginate_div{
    margin-top: 70px;
    display: flex;
    justify-content: center;

}
.paginate_div > .btn_prev{

    margin-right: 10px;
    padding: 3px 23px;
    font-size: small;
    font-weight: lighter;

}

.paginate_div > .btn_next{

    margin-left: 10px;
    padding: 5px 23px;
    font-size: small;
    font-weight: lighter;
}

.paginate_div >span{

    font-size: small;
    margin-top: 6px;
}


